/wp-admin/
/wp-includes/
/wp-*.php
!/wp-config-sample.php
wp-config.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
.htaccess
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backup*/
*.log
*.zip
